In [1]:
%matplotlib notebook
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
# from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [3]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///musicData.sqlite")
# engine = create_engine("sqlite:///Resources/hawaii.sqlite")
inspector=inspect(engine)
inspector.get_table_names()

['data',
 'data_by_artist',
 'data_by_artist_o',
 'data_by_genres',
 'data_by_genres_o',
 'data_by_year',
 'data_by_year_o',
 'data_o',
 'data_w_genres',
 'data_w_genres_o']

In [4]:
dataByYearColumns = inspector.get_columns('data_by_year')
for c in dataByYearColumns:
    print(c["name"],c["type"])

year INTEGER
acousticness REAL
danceability REAL
duration_ms REAL
energy REAL
instrumentalness REAL
liveness REAL
loudness REAL
speechiness REAL
tempo REAL
valence REAL
popularity REAL
key INTEGER
mode INTEGER

In [5]:
class Data_By_Year(Base):
  __tablename__ = "data_by_year"
  year = Column(String, primary_key=True)
  acousticness = Column(Float)
  danceability = Column(Float)
  duration_ms = Column(Float)
  energy = Column(Float)
  instrumentalness = Column(Float)
  liveness = Column(Float)
  loudness = Column(Float)
  speechiness = Column(Float)
  tempo = Column(Float)
  valence = Column(Float)
  popularity = Column(Float)
  key = Column(Integer)
  mode = Column(Integer)

In [6]:
dataColumns = inspector.get_columns('data')
for c in dataColumns:
    print(c["name"],c["type"])

acousticness REAL
artists TEXT
danceability REAL
duration_ms INTEGER
energy REAL
explicit INTEGER
id TEXT
instrumentalness REAL
key INTEGER
liveness REAL
loudness REAL
mode INTEGER
name TEXT
popularity INTEGER
release_date TEXT
speechiness REAL
tempo REAL
valence REAL
year INTEGER

In [7]:
class Data(Base):
  __tablename__ = "data"
  acousticness = Column(Float)
  artists = Column(String)
  danceability = Column(Float)
  duration_ms = Column(Integer)
  energy = Column(Float)
  explicit = Column(Integer)
  id = Column(String, primary_key = True)
  instrumentalness = Column(Float)
  key = Column(Integer)
  liveness = Column(Float)
  loudness = Column(Float)
  mode = Column(Integer)
  name = Column(String)
  popularity = Column(Integer)
  release_date = Column(String)
  speechiness = Column(Float)
  tempo = Column(Float)
  valence = Column(Float)
  year = Column(Integer)

In [8]:
dataByArtistColumns = inspector.get_columns('data_by_artist')
for c in dataByArtistColumns:
    print(c["name"],c["type"])

artists TEXT
acousticness REAL
danceability REAL
duration_ms REAL
energy REAL
instrumentalness REAL
liveness REAL
loudness REAL
speechiness REAL
tempo REAL
valence REAL
popularity REAL
key INTEGER
mode INTEGER
count INTEGER

In [9]:
class DataByArtist(Base):
  __tablename__ = "data_by_artist"
  artists = Column(String, primary_key = True)
  acousticness = Column(Float)
  danceability = Column(Float)
  duration_ms = Column(Float)
  energy = Column(Float)
  instrumentalness = Column(Float)
  liveness = Column(Float)
  loudness = Column(Float)
  speechiness = Column(Float)
  tempo = Column(Float)
  valence = Column(Float)
  popularity = Column(Float)
  key = Column(Integer)
  mode = Column(Integer)
  count = Column(Integer)

In [10]:
dataByArtistOColumns = inspector.get_columns('data_by_artist_o')
for c in dataByArtistOColumns:
    print(c["name"],c["type"])

mode INTEGER
count INTEGER
acousticness REAL
artists TEXT
danceability REAL
duration_ms REAL
energy REAL
instrumentalness REAL
liveness REAL
loudness REAL
speechiness REAL
tempo REAL
valence REAL
popularity REAL
key INTEGER

In [11]:
class DataByArtistO(Base):
  __tablename__ = 'data_by_artist_o'
  mode = Column(Integer)
  count = Column(Integer)
  acousticness = Column(Float)
  artists = Column(String, primary_key = True)
  danceability = Column(Float)
  duration_ms = Column(Float)
  energy = Column(Float)
  instrumentalness = Column(Float)
  liveness = Column(Float)
  loudness = Column(Float)
  speechiness = Column(Float)
  tempo = Column(Float)
  valence = Column(Float)
  popularity = Column(Float)
  key = Column(Integer)

In [ ]:
# # reflect an existing database into a new model
# Base = automap_base()

# # reflect the tables
# Base.prepare(engine, reflect=True)

In [12]:
# # View all of the classes that automap found
# Base.classes.keys()

AttributeError: type object 'Base' has no attribute 'classes'

In [14]:
Base.metadata.create_all(engine)

In [13]:
# # Save references to each table
# Data = Base.classes.data
# dataByYear = Base.classes.data_by_year

AttributeError: type object 'Base' has no attribute 'classes'

In [15]:
session = Session(bind=engine)

In [16]:
session.close()